/* body{
    margin:0;
    padding:0;
    background:#0f172a;
    font-family:Arial;
    color:white;
}

.container{
    width:80%;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:white;
    color:black;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

input{
    width:45%;
    padding:10px;
    margin:10px;
}

button{
    padding:12px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.attendance-btn{
    width:100%;
    font-size:18px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

.footer{
    text-align:center;
    margin-top:20px;
} */

body{
    margin:0;
    padding:0;
    background:#0f172a;
    font-family:Arial;
    color:white;
}

.container{
    width:80%;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:white;
    color:black;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

input{
    width:45%;
    padding:10px;
    margin:10px;
}

button{
    padding:12px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
    cursor:pointer;
    margin:5px;
}

button:hover{
    background:#1d4ed8;
}

.export-btn{
    background:green;
}

.export-btn:hover{
    background:darkgreen;
}

.attendance-btn{
    width:200px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

.footer{
    text-align:center;
    margin-top:20px;
}